extends template

block stylesheets
 link(rel="stylesheet", type="text/css", href="/css/styleAbout.css")

block main-content 
 .wrapper
    div.container
      div.text-container
         p.bold REST AND RECHARGE
         p.light FROM YOUR TRAVELS      
      div.image-container
         img(src="/images/roomImage.png")
    div.container
      div.image-container
         img(src="/images/roomImage2.png")
      div.text-container
         p.light COMPLETE WITH
         p.bold EVERYTHING YOU NEED
    