<div class="menu-inner">
            <nav class="left-side-menu menu-level-1-child">
                    	
 
                <a class="logo " href="https://www.icicibank.com/?ITM=nli_cms_HP_logo_personal_topnavigation" target="_self">
                    
                        <span class="logo-image logo-india"></span>
					
                    
                </a>
                <ul>
                    
                        <li class="other-menu personal-menu current ">
                            <div class="link-area">
                                
                                <a id="top-header-item-1" href="https://www.icicibank.com/?ITM=nli_cms_HP_personal_topnavigation" target="_self">PERSONAL
                                    <span class="open-status"></span></a>
                            </div>
                            <div class="other-dropdown">
                                <div class="dropdown-inner">
                                    <div class="left-block">
                                        <ul>
                                            
                                                <li>
                                                    <a class="active" href="https://www.icicibank.com/?ITM=nli_cms_HP_personal_topnavigation">Personal</a>
                                                    
                                                </li>
                                            
                                                <li>
                                                    <a href="https://www.icicibank.com/privilege-banking/index.page?ITM=nli_cms_PB_topnavigation">Privilege</a>
                                                    
                                                </li>
                                            
                                                <li>
                                                    <a href="https://www.icicibank.com/wealth-management/index.page?ITM=nli_cms_WM_topnavigation">Wealth</a>
                                                    
                                                </li>
                                            
                                                <li>
                                                    <a href="https://www.icicibankprivatebanking.com/?ITM=nli_cms_hp_personal_topnavigation">Private </a>
                                                    
                                                </li>
                                            
                                                <li>
                                                    <a href="https://www.icicibank.com/millennial-banking/index.page?ITM=nli_cms_MB_topnavigation">Millenial </a>
                                                    
                                                </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="right-block">
                                    
                                        <span class="rivilege-img">
                                        </span>
									
                                                                                
                                        <span class="desc">
                                            
                                            <a target="_self" href="https://www.icicibank.com/privilege-banking/personal/privilege-banking-advantage.page?ITM=nli_cms_PB_exclusive_offers_topnavigation">Exclusive offers for privilege banking customers</a>
                                        </span>
                                        <span class="menu-close-btn"><img loading="lazy" src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/close-icon.svg" alt="close"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    
                        <li class="other-menu   ">
                            <div class="link-area">
                                
                                <a id="top-header-item-2" href="https://www.icicibank.com/nri-banking/nri-banking.page?ITM=nli_cms_NRI_topnavigation" target="_self">NRI
                                    </a>
                            </div>
                            
                        </li>
                    
                        <li class="other-menu personal-menu  ">
                            <div class="link-area">
                                
                                <a id="top-header-item-3" href="https://www.icicibank.com/business-banking/index.page?ITM=nli_cms_BB_topnavigation" target="_self">Business
                                    <span class="open-status"></span></a>
                            </div>
                            <div class="other-dropdown">
                                <div class="dropdown-inner">
                                    <div class="left-block">
                                        <ul>
                                            
                                                <li>
                                                    <a class="active" href="https://www.icicibank.com/business-banking/index.page?ITM=nli_cms_BB_topnavigation">Business</a>
                                                    
                                                </li>
                                            
                                                <li>
                                                    <a href="https://www.icicibank.com/sme/index.page?ITM=nli_cms_SME_topnavigation">SME</a>
                                                    
                                                </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="right-block">
                                    
                                    
                                        <img loading="lazy">
                                                                                
                                        <span class="desc">
                                            
                                            <a target="_self" href="https://www.icicibank.com/offers/categories/business-compliments.page?ITM=nli_cms_BB_exclusive_offers_topnavigation">Exclusive offers for business banking customers</a>
                                        </span>
                                        <span class="menu-close-btn"><img loading="lazy" src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/close-icon.svg" alt="close"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    
                        <li class="other-menu   ">
                            <div class="link-area">
                                
                                <a id="top-header-item-4" href="https://www.icicibank.com/corporate/corp-index.page?ITM=nli_cms_CB_topnavigation" target="_self">Corporate
                                    </a>
                            </div>
                            
                        </li>
                    
                        <li class="other-menu   last">
                            <div class="link-area">
                                
                                <a id="top-header-item-5" href="https://www.giftcity.icicibank.com/giftcity" target="_self">GIFT City
                                    </a>
                            </div>
                            
                        </li>
                    
                </ul>
            </nav>
            <nav class="right-side-menu menu-level-1-child">
               
                 <div class="customer-care-num">
                    <div class="cust-wrap d-flex">                       
                        <div class="call-number">
                            <div class="call-number__text">CALL</div>
                            <div class="call-number__text">1800 1080</div>
                        </div>
                    </div>
                </div>
                <div class="country-flag-container">
                    <ul class="right-side-ul">

                        
                        <li class="menu-leaf countryselect">
                            
                                <div id="country" class="drop-select">
                                    <span class="flag m-drop-flag ind-flag"></span>
                                    <span>India</span>
                                    
                                </div>
                            
                                
                            
                                
                            
                                
                            
                                
                            
                                
                            
                                
                            
                                
                            
                                
                            
                                
                            
                                
                            
                                
                            
                            <div id="country-drop" class="sub-menu-wrapper country-dropdown">
                                <div class="sub-menu-inner">
                                    <ul>
                                        
                                            <li>
                                                 
                                        <a href="https://www.icicibank.com">
                                        
                                        <span class="flag ind-flag"></span>
										
                                        
                                        <span>India</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="https://www.giftcity.icicibank.com/giftcity">
                                        
                                        <span class="flag ind-flag"></span>
										
                                        
                                        <span> Gift City India</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="https://www.icicibank.bh">
                                        
                                        <span class="flag br-flag"></span>
										
                                        
                                        <span>Bahrain</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="https://www.icicibank.ca">
                                        
                                        <span class="flag cn-flag"></span>
										
                                        
                                        <span>Canada</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="http://shanghaibranch.icicibank.com">
                                        
                                        <span class="flag ca-flag"></span>
										
                                        
                                        <span>China</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="https://www.icicibank.de">
                                        
                                        <span class="flag gr-flag"></span>
										
                                        
                                        <span>Germany</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="https://www.icicibank.hk">
                                        
                                        <span class="flag hk-flag"></span>
										
                                        
                                        <span>Hong Kong</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="https://www.icicibank.com.sg">
                                        
                                        <span class="flag sg-flag"></span>
										
                                        
                                        <span>Singapore</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="https://www.icicibank.co.uk">
                                        
                                        <span class="flag uk-flag"></span>
										
                                        
                                        <span>UK</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="http://www.icicibankusa.com">
                                        
                                        <span class="flag us-flag"></span>
										
                                        
                                        <span>US</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="https://www.money2india.eu">
                                        
                                        <span class="flag eu-flag"></span>
										
                                        
                                        <span>Europe</span></a>
                                            </li>
                                        
                                            <li>
                                                 
                                        <a href="http://www.icicibank.ae">
                                        
                                        <span class="flag uae-flag"></span>
										
                                        
                                        <span>DIFC-UAE</span></a>
                                            </li>
                                        
                                    </ul>
                                </div>
    
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /* 18/08 Personal banking div structure changes */ -->
                <!-- Personal banking Start-->
                <div class="user-block">
                    <!-- Personal banking starts-->
                    <div class="personal-banking-overlay" style="display: none;"></div>
                    <div class="personal-banking-wrapper">
                        <div class="personal-banking">
                            
                            <a href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.15973366.1179124605.1628150213-1830719696.1620039454" class="ic-btn white" id="loginsection">
                                Personal
                            </a>
                        
                            
                            
                        
                            
                            
                        
                            
                            
                        
                            
                            
                        
                            
                            
                        </div>
                        <div class="personal-banking-container menu-container" style="display: none;">
                            <div class="personal-close-btn">
                            	<span class="close-icon"></span>
                            </div>
                            <div class="personal-title">
                                <span>Log on to </span>
                                <h4>Internet banking</h4>
                            </div>
                            <div class="personal-list">
                                <ul>
                                    <li>
                                        
                                        <a href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.15973366.1179124605.1628150213-1830719696.1620039454" target="_self" class="Personal">Personal</a>
                                    </li>
                                
                                    <li>
                                        
                                        <a href="https://cibnext.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_corp_primer_login_btn_desk" target="_self" class="Corporate">Corporate</a>
                                    </li>
                                
                                    <li>
                                        
                                        <a href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_NRI_login_btn&amp;_ga=2.15973366.1179124605.1628150213-1830719696.1620039454&amp;_gl=1*jftn50*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ0NzEuNjA." target="_self" class="NRIbanking">NRI banking</a>
                                    </li>
                                
                                    <li>
                                        
                                        <a href="https://www.icicibank.com/nri-banking/money_transfer/m2i-signup/index.html?site=bank-hp-login" target="_self" class="Money2India">Money2India</a>
                                    </li>
                                
                                    <li>
                                        
                                        <a href="https://m2wnet.icicibank.co.in/STAR_M2W/showLogin" target="_self" class="Money2World">Money2World</a>
                                    </li>
                                
                                    <li>
                                        
                                        <a href="https://www.icicibank.com/Important-Notice-b2.page" target="_self" class="b2Digital">b2Digital</a>
                                    </li>
                                </ul>
                                <div class="link">
                                    
                                    <a href="https://www.icicibank.com/online-demo/index.page?ITM=nli_cms_lB_viewdemo_navigation&amp;_ga=2.97630751.1091498294.1643119907-567969004.1643119907&amp;_gl=1*i0qdpt*_ga*NTY3OTY5MDA0LjE2NDMxMTk5MDc.*_ga_SKB78GHTFV*MTY0MzExOTk0OS4xLjAuMTY0MzExOTk0OS42MA.." class="ic-more" target="_self">IPlay-Demo Videos</a>
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-login">
                        
                        <a href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;_gl=1*30xkeg*_ga*MTgzMDcxOTY5Ni4xNjIwMDM5NDU0*_ga_SKB78GHTFV*MTYyODIzNDM4NC43Ny4xLjE2MjgyMzQ1MDQuMjc.&amp;_ga=2.15973366.1179124605.1628150213-1830719696.1620039454" class="ic-btn" id="login-btn" target="_self">LOGIN</a>
                    
                        
                        
                    
                        
                        
                    
                        
                        
                    
                        
                        
                    
                        
                        
                    </div>
    
                    
                    
                  
                </div>
              
                <!-- Personal banking ends-->
    
                <!-- 18/08 notification div structure changes -->
                <!-- Notification block start -->
                <div class="notification">
                    <div class="notification-icon">
                        <div class="icon-notifications">
                            <span class="icon n-icon"><img loading="lazy" id="notification-bell-n" src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/icon_notification.png" alt="icon_notification"></span>
                            <span class="icon h-icon"><img loading="lazy" id="notification-bell-h" src="/etc.clientlibs/icicibank/clientlibs/clientlib-base/resources/images/icons/notification-animation.png" alt="notification-animation"></span>
                            <span class="notifications-count">5</span>
                            
                        </div>
                    </div>
    
                    <div class="notification-list-container menu-container" style="display: none;">
                        <div class="noti-close-btn">
                            <span class="close-icon"></span>
                        </div>
                        <div class="noti-title">
                            <span></span>
                            <h4>Offers especially for you! </h4>
                        </div>
                        <div class="noti-list">
                            
                            
    
                            
                            <ul>
                                
                                    <li id="notification-list-item-">
                                        <div class="noti-image">
                                            <a rel="/content/icicibank.apigee.json?apiname=accept&amp;payload={'treatmentCode': '1166.b1a.a7bc67c.ffffffffe5e85ae4', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" href="https://www.icicibank.com/offers/net-banking/amazon-shopping-offer.jpg?ITM=nli_mccm_IB_dnecom_bellnotification_knowmore" target="_blank" class="postEvent">
                                                <img loading="lazy" src="/content/dam/icicibank/india/managed-assets/logos/icon/e-com-icon.png">
                                            </a>
                                        </div>
                                        <div class="noti-details">
                                            <p class="title">First time with Net Banking?</p>
                                            <p class="description">Here's a an exclusive Rs 250 Amazon voucher just for you!</p>
                                            <div class="btn-group">
                                                <a rel="/content/icicibank.apigee.json?apiname=accept&amp;payload={'treatmentCode': '1166.b1a.a7bc67c.ffffffffe5e85ae4', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" href="https://www.icicibank.com/offers/net-banking/amazon-shopping-offer.jpg?ITM=nli_mccm_IB_dnecom_bellnotification_knowmore" target="_blank" class="postEvent ic-btn override-btn-style" id="notification-unica-button-1">
                                                    Know More
                                                    <span data-presentation="/content/icicibank.apigee.json?apiname=contact&amp;payload={'treatmentCode': '1166.b1a.a7bc67c.ffffffffe5e85ae4', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" class="presentation-post-event-mccm"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                
                                    <li id="notification-list-item-">
                                        <div class="noti-image">
                                            <a rel="/content/icicibank.apigee.json?apiname=accept&amp;payload={'treatmentCode': '287ff5.20ef.ffffffffa5f6bdca.5aa8cb02', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;MENU_FLAG=D&amp;&amp;ITM=nli_mccm_FD_FDLargecredittrigger_Bellnotification&amp;_gl=1*op5xlc*_ga*MzQyOTMyMzYuMTYzMDQyMjkwMw..*_ga_SKB78GHTFV*MTYzMjc1Mjg4NC4zOC4xLjE2MzI3NTMwOTMuNTI.&amp;_ga=2.165390777.702901882.1632752883-34293236.1630422903" target="_blank" class="postEvent">
                                                <img loading="lazy" src="/content/dam/icicibank/india/managed-assets/logos/icon/wallet-icon.png">
                                            </a>
                                        </div>
                                        <div class="noti-details">
                                            <p class="title">Just received a large credit?</p>
                                            <p class="description">Turn your idle funds into ideal investments. Invest in an FD now. T&amp;C apply.</p>
                                            <div class="btn-group">
                                                <a rel="/content/icicibank.apigee.json?apiname=accept&amp;payload={'treatmentCode': '287ff5.20ef.ffffffffa5f6bdca.5aa8cb02', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;MENU_FLAG=D&amp;&amp;ITM=nli_mccm_FD_FDLargecredittrigger_Bellnotification&amp;_gl=1*op5xlc*_ga*MzQyOTMyMzYuMTYzMDQyMjkwMw..*_ga_SKB78GHTFV*MTYzMjc1Mjg4NC4zOC4xLjE2MzI3NTMwOTMuNTI.&amp;_ga=2.165390777.702901882.1632752883-34293236.1630422903" target="_blank" class="postEvent ic-btn override-btn-style" id="notification-unica-button-2">
                                                    Open FD now
                                                    <span data-presentation="/content/icicibank.apigee.json?apiname=contact&amp;payload={'treatmentCode': '287ff5.20ef.ffffffffa5f6bdca.5aa8cb02', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" class="presentation-post-event-mccm"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                
                                    <li id="notification-list-item-">
                                        <div class="noti-image">
                                            <a rel="/content/icicibank.apigee.json?apiname=accept&amp;payload={'treatmentCode': '15dd.19cb.ffffffff947d9f07.23c9ca97', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" href="https://www.icicibank.com/offers/product-offers/product-offers.page" target="_blank" class="postEvent">
                                                <img loading="lazy" src="/content/dam/icicibank/india/managed-assets/images/bell-notification.jpg">
                                            </a>
                                        </div>
                                        <div class="noti-details">
                                            <p class="title">Customised to your choice.</p>
                                            <p class="description">Enter your mobile number and explore all the offers, at one place.</p>
                                            <div class="btn-group">
                                                <a rel="/content/icicibank.apigee.json?apiname=accept&amp;payload={'treatmentCode': '15dd.19cb.ffffffff947d9f07.23c9ca97', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" href="https://www.icicibank.com/offers/product-offers/product-offers.page" target="_blank" class="postEvent ic-btn override-btn-style" id="notification-unica-button-3">
                                                    Check Now
                                                    <span data-presentation="/content/icicibank.apigee.json?apiname=contact&amp;payload={'treatmentCode': '15dd.19cb.ffffffff947d9f07.23c9ca97', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" class="presentation-post-event-mccm"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                
                                    <li id="notification-list-item-">
                                        <div class="noti-image">
                                            <a rel="/content/icicibank.apigee.json?apiname=accept&amp;payload={'treatmentCode': '2851cc.1c30.ffffffff8670caac.3c3107b4', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;CTA_FLAG=MFRV&amp;utm_source=RIB&amp;utm_medium=BellNotif&amp;utm_campaign=MF_Wealth" target="_blank" class="postEvent">
                                                <img loading="lazy" src="/content/dam/icicibank/india/managed-assets/images/bill-pay-grey-icon.png">
                                            </a>
                                        </div>
                                        <div class="noti-details">
                                            <p class="title">1.2.3.4 and done !</p>
                                            <p class="description">Now invest with ease in the new Mutual Funds section</p>
                                            <div class="btn-group">
                                                <a rel="/content/icicibank.apigee.json?apiname=accept&amp;payload={'treatmentCode': '2851cc.1c30.ffffffff8670caac.3c3107b4', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;ITM=nli_personalb_personal_login_btn&amp;CTA_FLAG=MFRV&amp;utm_source=RIB&amp;utm_medium=BellNotif&amp;utm_campaign=MF_Wealth" target="_blank" class="postEvent ic-btn override-btn-style" id="notification-unica-button-4">
                                                    Invest in Mutual Funds
                                                    <span data-presentation="/content/icicibank.apigee.json?apiname=contact&amp;payload={'treatmentCode': '2851cc.1c30.ffffffff8670caac.3c3107b4', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" class="presentation-post-event-mccm"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                
                                    <li id="notification-list-item-">
                                        <div class="noti-image">
                                            <a rel="/content/icicibank.apigee.json?apiname=accept&amp;payload={'treatmentCode': '15dd.4ce.709b8c93.ffffffffc3de9863', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;CTA_FLAG=BPRET?ITM=nli_mccm_billpay_education_default_d" target="_blank" class="postEvent">
                                                <img loading="lazy" src="/content/dam/icicibank/india/managed-assets/images/bill-pay-grey-icon.png">
                                            </a>
                                        </div>
                                        <div class="noti-details">
                                            <p class="title">Got to pay school fees?</p>
                                            <p class="description">Introducing Education Bill Payments! Pay your child’s school fees instantly. T&amp;C</p>
                                            <div class="btn-group">
                                                <a rel="/content/icicibank.apigee.json?apiname=accept&amp;payload={'treatmentCode': '15dd.4ce.709b8c93.ffffffffc3de9863', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" href="https://infinity.icicibank.com/corp/AuthenticationController?FORMSGROUP_ID__=AuthenticationFG&amp;__START_TRAN_FLAG__=Y&amp;FG_BUTTONS__=LOAD&amp;ACTION.LOAD=Y&amp;AuthenticationFG.LOGIN_FLAG=1&amp;BANK_ID=ICI&amp;CTA_FLAG=BPRET?ITM=nli_mccm_billpay_education_default_d" target="_blank" class="postEvent ic-btn override-btn-style" id="notification-unica-button-5">
                                                    Pay Now
                                                    <span data-presentation="/content/icicibank.apigee.json?apiname=contact&amp;payload={'treatmentCode': '15dd.4ce.709b8c93.ffffffffc3de9863', 'interactionPoint': 'IP_DESK_NOTIFICATION', 'sessionID': '4207675116'}" class="presentation-post-event-mccm"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                
                
            </nav>
        </div>