extends template 

block stylesheets 
    link(rel="stylesheet" , type="text/css" , href="/css/homepage.css")

block main-content 

    .welcome  
     
        p#p1 Welcome to Luxure Hotel
        p#p2 A Modern Day Palace with 
        p#p3 CLASSIC ELEGANCE IN THE HEART OF AMISH
        a.button(href="/roomList") Explore Rooms