extends ../layout 

block main-content 
  h1.page-title Edit link
  form(method="post", action="/admin/menu/edit/submit")
    input(type="hidden", name="linkId", value=)
    div 
      -//add label and input for the weight, prepopulated with editLink's weight

    div 
      -//add label/input for the editLink's path

    div 
      -//add label/input for the editLink's name

    button(type="submit") Update link